body {
  background-color: hsl(30, 38%, 92%);
}

h1 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

.card {
  margin: auto;
  width: 95%;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

/* .card__container {} */

.card__container--head {
  content: url(images/image-product-mobile.jpg);
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__container--body {
  padding: 20px;
}

.card__price {
  display: flex;
}

.card__discount {
  color: hsl(158, 36%, 37%);
}

.card__original {
  text-decoration: line-through;
  top: 1.5em;
  position: relative;
  margin-left: 20px;
}

.card__button {
  border: none;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  padding: 15px;
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.card__button:hover {
  cursor: pointer;
  background-color: hsl(158, 36%, 17%);
}

.card__cart {
  top: .25em;
  position: relative;
  margin-right: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}