body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
}

.price {
  display: flex;
}

.price-original {
  text-decoration: line-through;
  margin: 30px 30px;
}

.cart {
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}