body {
  background-color: hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.card {
  margin: auto;
  width: 95%;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

.card-container {
  padding: 20px;
}

img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
}

.price {
  display: flex;
}

.price-original {
  margin: 30px 30px;
  text-decoration: line-through;
}

.cart-button {
  border: none;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  padding: 20px;
  width: 80%;
  display: block;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}